@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    outline: 2px solid red;
}

body {
    font-family: Roboto, sans-serif;
    margin: 0;
}

/* HEADER SECTION */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    margin: 0 auto;
    padding: 0 10rem;
    height: 60px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

.left {
    display: flex;
}

.links {
    display: flex;
    gap: 1rem;
    font-size: 18px;
    color: #E5E7EB;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* HERO SECTION */

.hero {
    background-color: #1F2937;
    padding: 0 10rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.heroleft {
    max-width: 500px;
}

.heroleft h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
    margin: 0;
    padding: 0;
}

.heroleft p {
    font-size: 18px;
    color: #E5E7EB;
    text-wrap: wrap;
}

.signupbtn {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 5px 25px;
    border: solid #3882f6;
    border-radius: 4px;
}

.signupbtn a {
    color: #F9FAF8;
    text-decoration: none;
}

.hero img {
    width: 500px;
    height: auto;
}

/* INFO SECTION */

.infotitle {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.container {
    display: flex;
    gap: 52px;
    justify-content: center;
    padding-bottom: 5rem;
}

.infotext {
    font-size: 18px;
    text-align: center;
}

.pics {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
}

.square {
    height: 150px;
    width: 150px;
    background-color: white;
    border: solid #3882F6;
    border-radius: 10%;
}

/* QUOTE SECTION */

.quote {
    background-color: #E5E7EB;
    padding: 0 14rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.quotetext {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    text-align: center;
}

.quoteauthor {
    padding-top: 0.3rem;
    text-align: end;
    font-weight: 800;
    font-size: 20px;
}